::-webkit-scrollbar-track {
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #004BFF;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 8px;
}

.web3modal-modal-lightbox {
    z-index: 99999 !important;
}
